body{
    background-color: white;
    font-family: 'poppins';
}

.cameroon-flag{
   margin-top: 6px;
}
.form-select{
    border-style: none;
    
}

.hero-background{
    width: 100%;
    height: 1000px;
}

.hero-text{
    position: absolute;
    top: 12%;
    background: none;
    border-style: none;
    left: 19%;
    right: 19%;

}
.nav-bar{
    margin-left: 20%;
}
.card-title{
    font-size: 52px;
    font-weight: 100;
    line-height: 64px;
    color: #334415;
}

.card-text{
    font-size: 16px;
    font-weight: 10;
    color: #475569;
}

.card{
    display: flex; 
    align-items: start;
    padding: 20px;
}

.btn-filled{
    background-color: #143AA2;
    color: white;
    font-weight: bolder;
    padding: 10px;
}
.btn-outline{
    border-color: #143AA2;
    color: #143AA2;
    font-weight: bolder;
    padding: 10px;
}
.btn-filled-secondary{
    color: #143AA2;
    background-color: white;
    font-weight: bolder;
    padding: 10px;
}
.btn-filled-tertiary{
    color: white;
    background-color: #3E8DE3;
    font-weight: bolder;
    padding: 10px;
}
.btn-outline-secondary{
    border-color: white;
    color: white;
    font-weight: bolder;
    padding: 10px;
}
.text-box{
    padding-top: 50px;
}

.icon-height{
    height: 100px;
    background-color: rgb(62, 141, 227, 0.2);
    padding: 20px;
    border-radius: 12px;
}

.about{

   padding-top: 20%;
   background-color: #143AA2;
   color: white;
   padding-left: 20%;
   padding-right: 20%;
   padding-bottom: 100px;
}
.item{
    font-size: 16px;
    font-weight: bolder;
    margin-top: 10px;
}

.descrip{
    color: #F1F5F9;
    font-weight: lighter;
    padding-bottom: 20px;
}
h2{
    font-weight: bolder;
}
.hyper{
    color:#143AA2;
}
h3{
    color: black;
    font-weight: bold;
}

.investor{
    padding-top: 100px;
    padding-bottom: 100px;
    background: none;
    border-style: none;

}
.inv{
    margin-left: 20%;
    margin-right: 20%;
    
}
.star{
    background-color: rgb(62, 141, 227, 0.2);
    padding: 4px;
    border-radius: 100%;
    margin-right: 20px;
    margin-top: 8px;
    
}
.invest{
    margin-top: 120px;
}
.description{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 20px;
}
.start{
    padding: 4px;
    border-radius: 100%;
    margin-right: 20px;
    
    
}
.testimonials{
    background-color: #143AA2;
    padding: 80px;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
}

.carousel-inner{
    
    margin-top: 40px;
}

.itms{
    margin-left: 20px;
}
.xy{
    background: none;
    color: white;
    border-style: none;
}
.carousel-item{
    color: white;
}
.name{
    font-weight: bolder;
    margin-top: 50px;
}
.infos{
    font-size: 52px;
}
.overlay{
    color: white;
}
.card-img-overlay{
    margin-top: 10%;
    margin-left: 600px;
    margin-right: 600px;
    border-style: none;
    background: none;
}
h1{
    font-weight: bolder;
    font-size: 48px;
    line-height: 65px;
}
.cta-button{
    margin-top: 40px;
}
.carousel-control-prev-icon{
    border-color: white;
    border-radius: 100%;
    
}
.team-role{
    color: #3E8DE3;
}
.team{
    margin-top: 80px;
    padding-left: 20%;
    padding-right: 20%;
    
}
.team-image{
    height: 224px;
    width: 224px;
    border-radius: 100%;
    margin: 20px;
}
.head{
    margin-bottom: 52px;
}
.cta{
    border-style: none;
    background: none;
}
.FAQs{
    margin-top: 80px;
    margin-left: 20%;
    margin-right: 20%;
}
.collapsible {
  background-color: white;
  color: #424242;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border-radius: 8px;
  border-top-style: none;
  border-bottom-color: #CBD5E1;
  border-bottom-style: solid;
  border-left-style: none;
  border-right-style: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  font-weight: bolder;
}

.actives, .collapsible:hover {
  background-color: #143AA2;
  color: white;
}

.collapsible:after {
  content: '\2304';
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.actives:after {
  content: "\2303";
  
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: white;
  font-weight: normal;
  font-size: 16px;
  color: #424242;
  margin-top: 8px;
}
.info{
    display: flex;
    justify-content: flex-start;
    align-items: start;
    margin-top: 20px;
}
.nom{
    margin-left: 8px;
    margin-top: 8px;
    font-size: 16px;
    font-weight: normal;
}
.contact{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 10%;
    background-color: #143AA2;
    border-style: none;
    color: white;

}
.cont{
    color: white;
}
.form-control{
    color: #4160B3;
    background-color: #4160B3;
    border: none;
}
.contact-us{
    margin-bottom: 40px;
}
.form-label{
    font-weight: bolder;
}
.foot-item{
    text-decoration: none;
    list-style: none;
}
.footer-foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer{
    margin-left: 7%;
    margin-right: 8%;
    margin-top: 20px;
}
.infor{
    margin-top: 80px;
}